[submodule "program/rpi_pico_driver/extern/spi_sd_fat"]
	path = program/rpi_pico_driver/extern/spi_sd_fat
	url = git@github.com:crash8229/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "program/rpi_pico_driver/extern/kaitai_struct_cpp_runtime"]
	path = program/rpi_pico_driver/extern/kaitai_struct_cpp_runtime
	url = git@github.com:crash8229/kaitai_struct_cpp_stl_runtime.git
[submodule "program/rpi_pico_driver/extern/led-cube-data"]
	path = program/rpi_pico_driver/extern/led-cube-data
	url = git@github.com:crash8229/led-cube-data.git
[submodule "schematic/kicad_libraries/KiCad-RP-Pico"]
	path = schematic/kicad_libraries/KiCad-RP-Pico
	url = git@github.com:crash8229/KiCad-RP-Pico.git
	branch = crash8229/myconfig
[submodule "schematic/kicad_libraries/KiCad-My-Library"]
	path = schematic/kicad_libraries/KiCad-My-Library
	url = git@github.com:crash8229/KiCad-My-Library.git
